.elementor-1648 .elementor-element.elementor-element-d822249 {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0px 0px 0px 0px;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
    color: var(--e-global-color-primary);
}

.elementor-1648 .elementor-element.elementor-element-ded11a7 {
    text-align: center;
}

.elementor-1648 .elementor-element.elementor-element-ded11a7 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: -2.6px;
    color: #1D1D1F;
}

.elementor-1648 .elementor-element.elementor-element-b12dee4>.elementor-widget-container {
    margin: -12px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1648 .elementor-element.elementor-element-b12dee4 {
    text-align: center;
}

.elementor-1648 .elementor-element.elementor-element-b12dee4 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: -0.7px;
    color: #00AD02;
}

.elementor-1648 .elementor-element.elementor-element-bf80937 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.elementor-bc-flex-widget .elementor-1648 .elementor-element.elementor-element-f832830.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1648 .elementor-element.elementor-element-f832830.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1648 .elementor-element.elementor-element-d507c04 {
    text-align: center;
}

.elementor-1648 .elementor-element.elementor-element-d507c04 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: -2.6px;
    color: #1D1D1F;
}

.elementor-1648 .elementor-element.elementor-element-36230a5>.elementor-widget-container {
    margin: -12px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1648 .elementor-element.elementor-element-36230a5 {
    text-align: center;
}

.elementor-1648 .elementor-element.elementor-element-36230a5 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: -0.7px;
    color: #00AD02;
}

.elementor-bc-flex-widget .elementor-1648 .elementor-element.elementor-element-0978351.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1648 .elementor-element.elementor-element-0978351.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1648 .elementor-element.elementor-element-c80d0aa {
    --e-image-carousel-slides-to-show: 4;
}

.elementor-1648 .elementor-element.elementor-element-c80d0aa .swiper-wrapper {
    display: flex;
    align-items: center;
}

.elementor-1648 .elementor-element.elementor-element-c80d0aa .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image {
    border-radius: 10px 10px 10px 10px;
}

.elementor-1648 .elementor-element.elementor-element-90e296b>.elementor-background-overlay {
    background-color: #FFFFFF;
    opacity: 0.34;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1648 .elementor-element.elementor-element-90e296b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 100px 50px 100px;
}

.elementor-bc-flex-widget .elementor-1648 .elementor-element.elementor-element-7453402.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1648 .elementor-element.elementor-element-7453402.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1648 .elementor-element.elementor-element-7453402.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-1648 .elementor-element.elementor-element-f1269a2>.elementor-container {
    max-width: 1350px;
}

.elementor-1648 .elementor-element.elementor-element-75307fe.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-1648 .elementor-element.elementor-element-75307fe>.elementor-element-populated {
    padding: 25px 25px 25px 25px;
}

.elementor-1648 .elementor-element.elementor-element-ed1c86d {
    text-align: center;
}

.elementor-1648 .elementor-element.elementor-element-ed1c86d .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: -2.6px;
    color: #1D1D1F;
}

.elementor-1648 .elementor-element.elementor-element-bbe9644>.elementor-widget-container {
    margin: -12px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1648 .elementor-element.elementor-element-bbe9644 {
    text-align: center;
}

.elementor-1648 .elementor-element.elementor-element-bbe9644 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: -0.7px;
    color: #5BBA5B;
}

.elementor-1648 .elementor-element.elementor-element-e9b5257>.elementor-container {
    max-width: 1350px;
}

.elementor-1648 .elementor-element.elementor-element-4afdfa3>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 25px 25px 25px 25px;
}

.elementor-1648 .elementor-element.elementor-element-4afdfa3>.elementor-element-populated,
.elementor-1648 .elementor-element.elementor-element-4afdfa3>.elementor-element-populated>.elementor-background-overlay,
.elementor-1648 .elementor-element.elementor-element-4afdfa3>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-1648 .elementor-element.elementor-element-0a16715 {
    text-align: left;
}

.elementor-1648 .elementor-element.elementor-element-0a16715 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 21px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: -0.2px;
    color: #1D1D1F;
}

.elementor-widget-text-editor {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-1648 .elementor-element.elementor-element-91850da {
    text-align: justify;
    color: #000000;
    font-family: "Inter", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.elementor-widget-button .elementor-button {
    background-color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-1648 .elementor-element.elementor-element-f2a7ced .elementor-button {
    background-color: #2D2E2E;
    font-family: "Inter", Sans-serif;
    font-weight: 600;
    fill: #FFFDF9;
    color: #FFFDF9;
    border-radius: 10px 10px 10px 10px;
    padding: 25px 25px 25px 25px;
}

.elementor-1648 .elementor-element.elementor-element-f2a7ced .elementor-button:hover,
.elementor-1648 .elementor-element.elementor-element-f2a7ced .elementor-button:focus {
    background-color: #FFAB15;
}

.elementor-1648 .elementor-element.elementor-element-f0f2252>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 25px 25px 25px 25px;
}

.elementor-1648 .elementor-element.elementor-element-f0f2252>.elementor-element-populated,
.elementor-1648 .elementor-element.elementor-element-f0f2252>.elementor-element-populated>.elementor-background-overlay,
.elementor-1648 .elementor-element.elementor-element-f0f2252>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-1648 .elementor-element.elementor-element-5b00beb {
    text-align: left;
}

.elementor-1648 .elementor-element.elementor-element-5b00beb .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 21px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: -0.2px;
    color: #1D1D1F;
}

.elementor-1648 .elementor-element.elementor-element-fdbb84a {
    text-align: justify;
    color: #000000;
    font-family: "Inter", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.elementor-1648 .elementor-element.elementor-element-8d85d85 .elementor-button {
    background-color: #2D2E2E;
    font-family: "Inter", Sans-serif;
    font-weight: 600;
    fill: #FFFDF9;
    color: #FFFDF9;
    border-radius: 10px 10px 10px 10px;
    padding: 25px 25px 25px 25px;
}

.elementor-1648 .elementor-element.elementor-element-8d85d85 .elementor-button:hover,
.elementor-1648 .elementor-element.elementor-element-8d85d85 .elementor-button:focus {
    background-color: #FFAB15;
}

.elementor-1648 .elementor-element.elementor-element-bfcb559>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 25px 25px 25px 25px;
}

.elementor-1648 .elementor-element.elementor-element-bfcb559>.elementor-element-populated,
.elementor-1648 .elementor-element.elementor-element-bfcb559>.elementor-element-populated>.elementor-background-overlay,
.elementor-1648 .elementor-element.elementor-element-bfcb559>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-1648 .elementor-element.elementor-element-17358e4 {
    text-align: left;
}

.elementor-1648 .elementor-element.elementor-element-17358e4 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 21px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: -0.2px;
    color: #1D1D1F;
}

.elementor-1648 .elementor-element.elementor-element-80017e5 {
    text-align: justify;
    color: #000000;
    font-family: "Inter", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.elementor-1648 .elementor-element.elementor-element-32d2174 .elementor-button {
    background-color: #2D2E2E;
    font-family: "Inter", Sans-serif;
    font-weight: 600;
    fill: #FFFDF9;
    color: #FFFDF9;
    border-radius: 10px 10px 10px 10px;
    padding: 25px 25px 25px 25px;
}

.elementor-1648 .elementor-element.elementor-element-32d2174 .elementor-button:hover,
.elementor-1648 .elementor-element.elementor-element-32d2174 .elementor-button:focus {
    background-color: #FFAB15;
}

.elementor-1648 .elementor-element.elementor-element-0ba21f5:not(.elementor-motion-effects-element-type-background),
.elementor-1648 .elementor-element.elementor-element-0ba21f5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-1648 .elementor-element.elementor-element-0ba21f5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1648 .elementor-element.elementor-element-0ba21f5>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-1648 .elementor-element.elementor-element-7672738.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1648 .elementor-element.elementor-element-7672738.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-widget-icon-box.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-icon-box.elementor-view-framed .elementor-icon,
.elementor-widget-icon-box.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-widget-icon-box .elementor-icon-box-title {
    color: var(--e-global-color-primary);
}

.elementor-widget-icon-box .elementor-icon-box-title,
.elementor-widget-icon-box .elementor-icon-box-title a {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-icon-box .elementor-icon-box-description {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-1648 .elementor-element.elementor-element-7ca08d8>.elementor-widget-container {
    background-color: #000000;
}

.elementor-1648 .elementor-element.elementor-element-7ca08d8.ha-has-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-1648 .elementor-element.elementor-element-7ca08d8 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-1648 .elementor-element.elementor-element-7ca08d8 .elementor-icon-box-title {
    margin-bottom: 4px;
    color: #FFFFFF;
}

.elementor-1648 .elementor-element.elementor-element-7ca08d8 .elementor-icon-box-title,
.elementor-1648 .elementor-element.elementor-element-7ca08d8 .elementor-icon-box-title a {
    font-family: "Inter", Sans-serif;
    font-size: 35px;
    font-weight: 800;
    text-transform: capitalize;
}

.elementor-1648 .elementor-element.elementor-element-7ca08d8 .elementor-icon-box-description {
    color: #FFFFFF;
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-bc-flex-widget .elementor-1648 .elementor-element.elementor-element-24cfbe5.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1648 .elementor-element.elementor-element-24cfbe5.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1648 .elementor-element.elementor-element-e7f1db7 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 30px;
    --grid-column-gap: 24px;
    --grid-row-gap: 18px;
}

.elementor-1648 .elementor-element.elementor-element-e7f1db7 .elementor-widget-container {
    text-align: center;
}

.elementor-1648 .elementor-element.elementor-element-e7f1db7 .elementor-social-icon {
    background-color: #FFFFFF;
    --icon-padding: 0.6em;
}

.elementor-1648 .elementor-element.elementor-element-e7f1db7 .elementor-social-icon i {
    color: #000000;
}

.elementor-1648 .elementor-element.elementor-element-e7f1db7 .elementor-social-icon svg {
    fill: #000000;
}

.elementor-1648 .elementor-element.elementor-element-e7f1db7 .elementor-icon {
    border-radius: 15px 15px 15px 15px;
}

body.elementor-page-1648 {
    padding: 0px 0px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-1648 .elementor-element.elementor-element-d822249 {
        padding: 51px 0px 30px 0px;
    }
}

@media(max-width:767px) {
    .elementor-1648 .elementor-element.elementor-element-ded11a7 .elementor-heading-title {
        font-size: 30px;
        letter-spacing: -2px;
    }

    .elementor-1648 .elementor-element.elementor-element-b12dee4 .elementor-heading-title {
        font-size: 20px;
        letter-spacing: -0.5px;
    }

    .elementor-1648 .elementor-element.elementor-element-d507c04 .elementor-heading-title {
        font-size: 30px;
        letter-spacing: -2px;
    }

    .elementor-1648 .elementor-element.elementor-element-36230a5 .elementor-heading-title {
        font-size: 20px;
        letter-spacing: -0.5px;
    }

    .elementor-1648 .elementor-element.elementor-element-c80d0aa {
        --e-image-carousel-slides-to-show: 2;
    }

    .elementor-1648 .elementor-element.elementor-element-90e296b {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1648 .elementor-element.elementor-element-7453402>.elementor-element-populated {
        padding: 70px 0px 70px 0px;
    }

    .elementor-1648 .elementor-element.elementor-element-75307fe>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }

    .elementor-1648 .elementor-element.elementor-element-ed1c86d .elementor-heading-title {
        font-size: 30px;
        letter-spacing: -2px;
    }

    .elementor-1648 .elementor-element.elementor-element-bbe9644 .elementor-heading-title {
        font-size: 20px;
        letter-spacing: -0.5px;
    }

    .elementor-1648 .elementor-element.elementor-element-4afdfa3>.elementor-element-populated {
        padding: 25px 25px 25px 25px;
    }

    .elementor-1648 .elementor-element.elementor-element-0a16715 .elementor-heading-title {
        font-size: 30px;
        letter-spacing: -2px;
    }

    .elementor-1648 .elementor-element.elementor-element-f0f2252>.elementor-element-populated {
        padding: 25px 25px 25px 25px;
    }

    .elementor-1648 .elementor-element.elementor-element-5b00beb .elementor-heading-title {
        font-size: 30px;
        letter-spacing: -2px;
    }

    .elementor-1648 .elementor-element.elementor-element-bfcb559>.elementor-element-populated {
        padding: 25px 25px 25px 25px;
    }

    .elementor-1648 .elementor-element.elementor-element-17358e4 .elementor-heading-title {
        font-size: 30px;
        letter-spacing: -2px;
    }

    .elementor-1648 .elementor-element.elementor-element-7ca08d8>.elementor-widget-container {
        margin: 10px 10px 10px 10px;
    }

    .elementor-1648 .elementor-element.elementor-element-7ca08d8 .elementor-icon-box-wrapper {
        text-align: center;
    }

    .elementor-1648 .elementor-element.elementor-element-7ca08d8 .elementor-icon-box-title,
    .elementor-1648 .elementor-element.elementor-element-7ca08d8 .elementor-icon-box-title a {
        font-size: 24px;
    }

    .elementor-1648 .elementor-element.elementor-element-7ca08d8 .elementor-icon-box-description {
        font-size: 14px;
    }
}

@media(min-width:768px) {
    .elementor-1648 .elementor-element.elementor-element-f832830 {
        width: 18.62%;
    }

    .elementor-1648 .elementor-element.elementor-element-0978351 {
        width: 81.38%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1648 .elementor-element.elementor-element-7453402 {
        width: 65%;
    }
}